html {
    scroll-behavior: smooth;
}

.page {
 height: 100vh;
 color: #fff;
 font-size: 5em;
 text-align: center;
}

.page--1 { background-color: #88f; }
.page--2 { background-color: #f88; }
.page--3 { background-color: #88f; }
.page--4 { background-color: #f88; }
.page--5 { background-color: #88f; }

#back-btn {
 display: none;

 padding: 40px 10px;
 background-color: #fff;
 color: #000;
 text-decoration: none;
 border-radius: 50%;

 position: fixed;
 bottom: 10px;
 right: 10px;
}

#back-btn.is-visible {
    display: inline-block;
}
