:root {
    font-size: 20px;
}

body {
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
}

h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.0rem;
    letter-spacing: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-decoration-line: underline;
    text-decoration-color: rgb(115, 115, 114);
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}

.blue {
    color: skyblue;
}

.pink {
    color: rgb(255, 192, 203);
}

#basic p {
    font-weight: bold;
}